@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

nav
{
    background-color:black;>
}

a#logo
{
    margin-bottom: 6px;
}

a#navegador
{
    color:white;
    font-size: 130%;
}

ul.dropdown-menu
{
    background-color:#f98818; 
}

a.dropdown-item
{
    color: white;
    margin-bottom: 10px;
}

a.dropdown-item:hover
{
    color: white;
    background-color: black;
}

li.dropdown-divider 
{      
    background-color: black;
    color: black;
}

input#buscar
{
    width:70%;
    height:70%;
    margin-top: 9px;
}

button#nav
{
    background-color:#f68e20;
    color: black;
    height:70%;
    width: 20%;
    margin-top: 9px;
    padding-bottom: 10px;
    padding-top: 1px;
    border-color: black;

}

a#acesso
{
    color: #f68e20;
} 

svg
{
    color: #f68e20;
    margin-bottom: 3%;
    margin-right: 4px;
}  

a#laranja
{ 
    color: #f68e20;
}

h5#inicial
{
    font-size: 80px;
}

p#inicial
{
    font-size: 25px;
}

p#iniciall
{
    font-size: 25px;
    color: #f68e20;
    font-weight: bold;
}

div.card
{
    width: 20rem;
    margin-left: 15%;
    max-height: 500px;
    min-height: 500px; 
    margin-top: 15%
}

img#card
{
    height: 220px;
}

a#aqui
{
    background-color:#f68e20;
    color: black;
    border-color: black;
    font-weight: bold;
    border-color: white;
}

div#video
{   
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;
    padding-bottom:50px;    
}

h1#lives
{
    margin-bottom: 40px;
    font-size: 200%;   
}

iframe
{
    width: 560px;
    height: 315px;
}

footer
{
      background-color: black
}

div#social
{
    background-color: #f68e20;
}    

section#social
{
    background-color: #f68e20;
    font-size: 20px;
}

footer
{
    background-color: black;
}

hr#linha
{
    width: 60px;
    background-color: #f68e20;
    height: 2px
}




    
