@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

nav
{
    background-color:black;">
}

a#navegador
{
    color:white;

}

ul.dropdown-menu
{
    background-color:#f98818; 
}

a.dropdown-item
{
    color: white;
    margin-bottom: 10px;

}
a.dropdown-item:hover
{
    color: white;
    background-color: black;
}
li.dropdown-divider {
      
        background-color: black;
        color: black;
    }


input#buscar
{
    width:70%
}

button#nav
{
    background-color:#f68e20;
    color: black;
    font-weight: bold;
}

a#acesso
{
    color: #f68e20;
} 

svg
{
    color: #f68e20;
    margin-bottom: 4%;
    margin-right: 4px;
}  

a#laranja
{ 
    color: #f68e20;

}

h5#inicial
{
    font-size: 80px;
}

p#inicial
{
    font-size: 25px;
}

p#iniciall
{
    font-size: 25px;
    color: #f68e20;
    font-weight: bold;
}


div.card
{
    width: 20rem;
    margin-left: 15%;
    max-height: 500px;
    min-height: 500px; 
    margin-top: 15%
}

img#card
{
    height: 220px;
}

a#aqui
{
    background-color:#f68e20;
    color: black;
    border-color: black;
}

div#video
{   
    
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;
    padding-bottom:50px;    
}

h1#lives
{
    margin-bottom: 40px;
    text-decoration-line: underline;
}

iframe
{
    width: 860px;
    height: 615px;
}


footer
{
      background-color: black
}

div#social
{
    background-color: #f68e20;
}    

section#social
{
    background-color: #f68e20;
    font-size: 20px;


}

footer
{
    background-color: black;
}

hr#linha
{
    width: 60px;
    background-color: #f68e20;
    height: 2px
}

div#copy
{
    
